<a href="https://colab.research.google.com/github/stereoyana/pandas_ds_projects/blob/main/karpov_bookings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Проект “Бронирование Отелей" от karpov.courses


В проекте предстоит проанализировать данные о бронировании отелей.

**Описание данных**
<br>

Имеются следующие переменные:

- Hotel – тип отеля (City Hotel или Resort Hotel)  
- Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
- Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
- Arrival full date – полная дата прибытия
- Arrival date year – год прибытия  
- Arrival date month – месяц прибытия  
- Arrival date week number – номер недели прибытия
- Arrival date day of month – день прибытия
- Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
- Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
- Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
- Adults – число взрослых
- Children – число детей
- Babies – число младенцев 
- Meal – выбранный тип питания
- Country – страна происхождения клиента
- Reserved room type – тип зарезервированного номера
- Assigned room type – тип полученного номера (может отличаться от забронированного)
- Customer type – тип бронирования
- Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель;No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
- Reservation status date – дата обновления статуса

1. Импортируйте библиотеку pandas как pd. 
Загрузите датасет bookings.csv с разделителем ;. 
Проверьте размер таблицы, типы переменных, а затем выведите первые 7 строк, чтобы посмотреть на данные.

In [301]:
import pandas as pd

path_to_file = 'https://github.com/stereoyana/pandas_ds_projects/blob/main/2_bookings.csv'
bookings = pd.read_csv(path_to_file, sep=';')

ParserError: ignored

In [ ]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Hotel                      119390 non-null  object
 1   Is Canceled                119390 non-null  int64
 2   Lead Time                  119390 non-null  int64
 3   arrival full date          119390 non-null  object
 4   Arrival Date Year          119390 non-null  int64
 5   Arrival Date Month         119390 non-null  object
 6   Arrival Date Week Number   119390 non-null  int64
 7   Arrival Date Day of Month  119390 non-null  int64
 8   Stays in Weekend nights    119390 non-null  int64
 9   Stays in week nights       119390 non-null  int64
 10  stays total nights         119390 non-null  int64
 11  Adults                     119390 non-null  int64
 12  Children                   119386 non-null  float64
 13  Babies                     119390 non-null  int64
 14  Meal                       119390 non-null  object
 15  Country                    118902 non-null  object
 16  Reserved Room Type         119390 non-null  object
 17  Assigned room type         119390 non-null  object
 18  customer type              119390 non-null  object
 19  Reservation Status         119390 non-null  object
 20  Reservation status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

In [ ]:
bookings.shape

(119390, 21)

In [ ]:
bookings_head = bookings.head(7)
bookings_head

          Hotel  Is Canceled  ...  Reservation Status Reservation status_date
0  Resort Hotel            0  ...           Check-Out              2015-07-01
1  Resort Hotel            0  ...           Check-Out              2015-07-01
2  Resort Hotel            0  ...           Check-Out              2015-07-02
3  Resort Hotel            0  ...           Check-Out              2015-07-02
4  Resort Hotel            0  ...           Check-Out              2015-07-03
5  Resort Hotel            0  ...           Check-Out              2015-07-03
6  Resort Hotel            0  ...           Check-Out              2015-07-03

[7 rows x 21 columns]

2. Приведите названия колонок к нижнему регистру и замените пробелы на знак нижнего подчеркивания.

💀 Сложное задание! 💀

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания. 
Например: Is Canceled -> is_canceled

Могут пригодиться: 

- rename
- str.lower
- str.replace
- columns

In [ ]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [ ]:
bookings.columns = map(str.lower, bookings.columns)
bookings.head()

          hotel  is canceled  ...  reservation status reservation status_date
0  Resort Hotel            0  ...           Check-Out              2015-07-01
1  Resort Hotel            0  ...           Check-Out              2015-07-01
2  Resort Hotel            0  ...           Check-Out              2015-07-02
3  Resort Hotel            0  ...           Check-Out              2015-07-02
4  Resort Hotel            0  ...           Check-Out              2015-07-03

[5 rows x 21 columns]

In [ ]:
bookings.columns = bookings.columns.str.replace(' ','_')
bookings.head()

          hotel  is_canceled  ...  reservation_status reservation_status_date
0  Resort Hotel            0  ...           Check-Out              2015-07-01
1  Resort Hotel            0  ...           Check-Out              2015-07-01
2  Resort Hotel            0  ...           Check-Out              2015-07-02
3  Resort Hotel            0  ...           Check-Out              2015-07-02
4  Resort Hotel            0  ...           Check-Out              2015-07-03

[5 rows x 21 columns]

3. Пользователи из каких стран совершили наибольшее число успешных бронирований? Укажите топ-5.

💀 Сложное задание! 💀

Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5.

In [ ]:
bookings.query('is_canceled == 0').country.value_counts().head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

4. На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

Может пригодиться: round

In [ ]:
bookings.groupby(by=['hotel']) \
    .agg({'stays_total_nights': 'mean'}) \
    .round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

5. Иногда тип номера, полученного клиентом (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

In [ ]:
bookings.query("assigned_room_type != reserved_room_type").count()

hotel                        14917
is_canceled                  14917
lead_time                    14917
arrival_full_date            14917
arrival_date_year            14917
arrival_date_month           14917
arrival_date_week_number     14917
arrival_date_day_of_month    14917
stays_in_weekend_nights      14917
stays_in_week_nights         14917
stays_total_nights           14917
adults                       14917
children                     14917
babies                       14917
meal                         14917
country                      14699
reserved_room_type           14917
assigned_room_type           14917
customer_type                14917
reservation_status           14917
reservation_status_date      14917
dtype: int64

6. Проанализируйте даты запланированного прибытия. – На какой месяц чаще всего успешно оформляли бронь в 2016? Изменился ли самый популярный месяц в 2017?– Сгруппируйте данные по годам и проверьте, на какой месяц бронирования отеля типа City Hotel отменялись чаще всего в каждый из периодов

In [ ]:
year_2017 = bookings.pivot_table(index='arrival_date_year', values='stays_total_nights', columns='arrival_date_month', aggfunc='count')
year_2017

arrival_date_month   April  August  December  ...  November  October  September
arrival_date_year                             ...
2015                   NaN  3889.0    2920.0  ...    2340.0   4957.0     5114.0
2016                5428.0  5063.0    3860.0  ...    4454.0   6203.0     5394.0
2017                5661.0  4925.0       NaN  ...       NaN      NaN        NaN

[3 rows x 12 columns]

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 

Hint: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий :)
Например:

df.groupby('column_1')['column_2'].what_to_do()

In [ ]:
(
    bookings
    .query('(is_canceled == 1) and (hotel == "City Hotel")')
    .groupby('arrival_date_year')
    .arrival_date_month
    .value_counts()
)

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

7. Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [ ]:
(
    bookings[['adults','children','babies']]
    .mean()
)

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

8. Создайте колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

In [ ]:
bookings.children = bookings.children.fillna(0)

In [ ]:
bookings.children = bookings.children.astype('int64')

In [ ]:
bookings['total_kids'] = bookings[['children','babies']].sum(axis=1)

In [ ]:
(
    bookings
    .groupby('hotel')
    .total_kids
    .mean()
    .round(2)
)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

9. 💀 Сложное задание! 💀

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика зависит от наличия детей у клиентов!

Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [ ]:
bookings['has_kids'] = bookings['total_kids'] >= 1

In [ ]:
churn_rate_kids = bookings.query('has_kids == True and is_canceled == 1').count() / bookings.query('has_kids == True').count()

In [ ]:
churn_rate_no_kids = bookings.query('has_kids == False and is_canceled == 1').count() / bookings.query('has_kids == False').count()

In [ ]:
print('Процент оттока у клиентов без детей:', churn_rate_no_kids['is_canceled'].round(4) * 100, '%')

Процент оттока у клиентов без детей: 37.22 %

In [ ]:
print('Процент оттока у клиентов с детьми:', churn_rate_kids['is_canceled'].round(4) * 100, '%')

Процент оттока у клиентов с детьми: 34.92 %